<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>

  <body>
    <!-- Navigation -->
    <%- include('partials/_navigation') %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%= post.title %></h1>
              <span class="meta"> <%= post.dateCreated %></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="row mb-5 pb-4">
            <div class="col-12">
              <img
                src="<%= post.image %>"
                alt="Image"
                class="img-fluid tm-catalog-item-img"
              />
            </div>
          </div>

          <div class="col-12 mx-auto">
            <h2 class="section-heading"><%= post.title %></h2>

            <p style="text-align:justify;"><%= post.detail %></p>
          </div>
        </div>
        <div class="clearfix">
         
          <a
          class="btn btn-warning  text-white mr-3"  
          style="border-radius: 25px;"
          href="/posts/edit/<%= post._id %>"
          >Update Post</a>

          <a
            class="btn btn-danger float-right"
            href="/posts/<%= post._id %>?_method=DELETE"
            style="border-radius: 25px;"
            onclick="return confirm('ARE YOU SURE?')"
            >Delete Post</a>
         
        </div>
      </div>
    </article>

    <hr />

    <%- include('partials/_footer') %>
  </body>
</html>
